*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    margin: 2rem;
    border: 1px solid black;
}